<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="./images/D.png"
    />
    <title>DumpyURL | Shorten Your URL</title>
    <script
            src="https://kit.fontawesome.com/90aaddeb59.js"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            defer
    ></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            defer
    ></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            defer
    ></script>
     <script src="main.js" defer></script>
</head>
<body>
<div class="container">
    <div class="navigation">
        <nav>
            <h1 class="logoHeading">Dumpy</h1>
        </nav>
    </div>
    <div class="section1">
        <div class="textContent">
            <h1>WELCOME <span></span>TO</h1>
            <span>DUMPYURL</span>
            <p>Easy and fast URL Shortener at your Service</p>
        </div>
        <div class="imageSection">
            <img src="images/illustration-working.svg" alt="" />
        </div>
    </div>
    <div class="section2">
        <div class="formBody">
            <form action="">
                <div class="formGroup">
                    <input
                            type="text"
                            id="urlinput"
                            class="formInput"
                            name="urlinput"
                            placeholder="Shorten a link here..."
                            maxlength="255"
                    />
                    <label id="lab"
                    >Please enter valid URl - starting from http or https (Tip:-
                        Copy the url)</label
                    >
                    <button type="button" id="btn">Shorten it!</button>
                </div>
            </form>
        </div>
        <div class="shortend">
            <div class="fullURL-div">
                <p id="fullURL" class="fullURL"></p>
            </div>
            <hr />
            <div class="shortURL-div">
                <p id="shortURL" class="shortURL">
                    <a id="shorturltext" href=""></a>
                </p>
                <button id="copy" class="copy">Copy</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <footer>
            <h1>Dumpy</h1>
            <div class="icons">
                <ul>
                    <li>
                        <a href="https://github.com/Sauravionic"
                        ><i class="fab fa-github fa-lg"></i
                        ></a>
                    </li>
                    <li>
                        <a
                                href="https://www.linkedin.com/in/saurav-srivastava-4b71b5188/"
                        ><i class="fab fa-linkedin fa-lg"></i
                        ></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/sauravionic"
                        ><i class="fab fa-twitter fa-lg"></i
                        ></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/saurav.ionic/"
                        ><i class="fab fa-instagram fa-lg"></i
                        ></a>
                    </li>
                </ul>
                <p>Made by Ionic</p>
            </div>
        </footer>
    </div>
</div>
</body>
</html>
